*
.link_change a:link{ color:grey; font-size:18px;  }
.link_change a:active{ color:grey; font-size:18px;}
.link_change a:visited{ color:grey; font-size:18px;}
.link_change a:hover{ color:red; font-size:18px;}
