<!DOCTYPE html>
<html>
<head>
	<title>Create Your Wish</title>
<meta name="viewport" content="width=800">

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Hind|Raleway|Poppins" rel="stylesheet">

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

<style>
    a:hover{
        text-decoration:none;
    }
</style>

</head>
<body style="background-color: black;"  ng-app="">

<div style="text-align:left; color:white; padding:20px; background-color:black; font-size:30px;"><a href="http://www.naiudan.com" style=" color:white;">Naiudan.com</a></div>

<div style="text-align: center; color: white; font-family: 'Josefin Slab', serif; font-weight: bold; padding: 70px; background-color: orange">
	
<p style="font-size: 40px;">Create Your Digital Wishes Of Diwali</p>

<p id="newUserDetails" class="hidden" style=" z-index: 2; ">
    <div style="font-size: 20px; color: black; font-weight:bold;">
        <form>
    Your Name : </br><input type="text" name="" ng-model="senderName" value="{{}}" required>
    </br></br>
    Receiver Name :</br><input type="text" name="" ng-model="receiverName" value="{{}}" required>
    </br></br>
    <buttton type="submit" onclick="genLink()" class="btn btn-info btn-lg"><b>Generate Diwali Wishes</b></buttton>
    </form>
    </br>
    <a href="index.html" style="font-size:23px; color:red;">Create wishes for another occasion.</a>
    </div>
</p>

</div>




<div class="hidden" id="generateLink" style="text-align: center; position: absolute; color:white; top:90px; margin-left: 30%; padding: 30px; font-size: 25px; background-color: black; width: 40%; height: 60%;">
        <button class="btn btn-danger" onclick="hideLink()" style="margin-left:420px; color:white; padding:5px;width:50px; height:50px; font-size:25px;; background-color:red;">X</button>

	Copy this link and send it to {{receiverName}}.
	</br>
	<div style="padding: 30px; font-size: 20px;">
<p id="showLink"></p>

<script type="text/javascript">

		document.getElementById('showLink').innerHTML = '<a href="diwali-wish.html?{{senderName}}-sent-a-wish-to-{{receiverName}}">http://www.naiudan.com/my-wishes/diwali-wish.html?{{senderName}}-send-a-wish-to-{{receiverName}}</a>';	
</script>

	</div>
</div>


<script type="text/javascript">

function genLink(){
	document.getElementById('generateLink').setAttribute("class","actions_one");
}
function hideLink(){
	document.getElementById('generateLink').setAttribute("class","hidden");
}
</script>

</body>
</html>