*
.link_change a:link{ color:#412C71; font-size:20px;  }
.link_change a:active{ color:#412C71; font-size:20px;}
.link_change a:visited{ color:#412C71; font-size:20px;}
.link_change a:hover{ color:#412C71; font-size:20px;}
